.bancovua {
	width: 320px;
	margin: 0 auto;
	height: 320px;
	padding: 0 auto;
	border: 1px solid black;
}
.black {
	width: 40px;
	height: 40px;
	background-color: black;
	float: left;
}
.white {
	width: 40px;
	height: 40px;
	background-color: red;
	float: left;
}